@font-face {
    font-family: "letra";
    src: url("./Merienda-Bold.ttf");
}

*{
    font-family: letra;
}
#chat{
    border: 3px solid black;
    border-radius: 1%;
    width: 50%;
    height: 500px;
    overflow-y:scroll;
    word-wrap: break-word;
    margin: auto;
    
}

.log{
    width: 30%;
    text-align: center;
    margin: auto;
}

.mensaje{
    width: 50%;
    text-align: center;
    margin: auto;
}

.propio{  
    display: flex;
    justify-content: end;
    padding: 5px;
}

.propio h6{
    background-color: #4EB870;
    color: white;
    border-radius: 8px;
    padding: 3px;
    overflow: auto;
}

.otro{
    display: flex;
    justify-content: start;
    padding: 5px;
}

.otro h6{
    background-color: #F1F1F1;
    border-radius: 8px;
    padding: 3px;
    overflow: auto;
}

h1{
    text-align: center;
}


.borrarTodo{
    text-align: center;
}

.eliminar{
    background-color: white;
    border-color: white;
    border-radius: 100%;
}