.chat{
    border: 3px solid black;
    border-radius: 1%;
    width: 50%;
    height: 500px;
    overflow-y:auto;
    word-wrap: break-word;
    margin: auto;
    /* text-align: center; */
}

.log{
    width: 30%;
    text-align: center;
    margin: auto;
}

.mensaje{
    width: 50%;
    text-align: center;
    margin: auto;
}

.eliminar{
    height: 35px;
}

.propio{
    text-align: right;
    color:green
}